doctype html
html(lang="en")
  include /includes/head.pug
  +jslink("default")
  +csslink("show")
  +script("https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/highlight.min.js")
  +jslink("show")
  title Paste #{hash}

  header
    .panel.panel-left
      a(href="/") Paste
    .panel.panel-right
      a(href=`https://gateway.ipfs.io/ipfs/${hash}` target="_blank") View it in IPFS.io

  section
    each item in files
      if item.type === "file"
        .card
          .card-header
            .filename=item.filename
          if item.inline
            if item.ext
              code.card-body.overflow-x.content(class=`language-${item.ext}`)=item.content
            else
              code.card-body.overflow-x.content(class=`nohighlight`)=item.content
          else
            if item.mime.startsWith("image/")
              .card-body.overflow-x.image
                img(src=`https://gateway.ipfs.io/ipfs/${item.content}`)
            else
              .card-body.link
                span file size: #{item.size}
                a(href=`https://gateway.ipfs.io/ipfs/${item.content}` target="_blank" type=item.mime) Open in new tab
  .placeholder